* {
    margin: 0px;
    border: 0px;
    font-family: sans-serif;
    border: dashed 0.1px red;

}

h2 {
    padding: 5px 10px;
    margin-bottom: 10px;
}

h3, h4, p {
    padding: 5px;
    margin: 5px;
}

.wrapper {
    display: grid;
    width: 900px;
    margin: auto;
    grid-template-rows: 3;
    grid-gap: 10px;
    grid-template-areas:
    "warning warning"
    "header header"
    "left right";
}

.warning {
    grid-area: warning;
    padding: 20px 0px;
    text-align: center;
}
    .warning p {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin: auto;
    }
.header {
    grid-area: header;
    padding: 20px 40px;
    text-align: right;
}
    .header h1{
        display: inline-block;
        vertical-align: top;
        text-align: left;
        width: 48.5%;
    }
    .header h2{
        display: inline-block;
        vertical-align: top;
        width: 48%;
    }
    .header a{
        margin-right: 10px;
    }
.main-left {
    grid-area: left;
    padding: 20px 40px 40px 40px;
}

.main-right {
    grid-area: right;
    padding: 20px 40px 40px 40px;
}

form p{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: 10px;
    height: 20px;
    width: 150px;
}

form input {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    margin: 10px;
    
}

form textarea {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

form p:last-child {
    text-align: center;
    width: 100%;
    padding: 5px 0px;
    height: 40px;
}

.page-message p:last-child {
    text-align: center;
}

.main-left a {
    display: block;
    text-align: center;
    color: red;
    width: 100%;
}