<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="wrapper">
        {% with messages = get_flashed_messages() %}
        <div class="warning">
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
        {% endwith %}
        
        <div class="main-left">
            <form action="/register" method="post">
                <h2>Register here!</h2> 
                <p>First Name: </p>
                    <input type="text" name="new_first">
                <p>Last Name: </p>
                    <input type="text"  name="new_last">
                <p>Email Address: </p>
                    <input type="text" name="new_email">
                <p>Password: </p>
                    <input type="text" name="new_password">
                <p>Confirm Password: </p>
                    <input type="text" name="con_password">
                <p><input type="submit" name="Register!"></p>
            </form>
        </div>
        <div class="main-right">
            <form action="/login" method="post">
                <h2>Login here!</h2>
                <p>Email: </p>
                    <input type="text" name="user_email">
                <p>Password: </p>
                    <input type="text" name="user_password">
                <p><input type="submit" name="Login!"></p>
            </form>
        </div>
    </div>
</body>
</html>